body{
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

path.link {
  fill: none;
  stroke: #CCC;
  stroke-width: 1.5px;
}

circle {
  stroke: #CCC;
  stroke-width: 1.5px;
}
/*
If the node is nonzero, all outgoing edges should be highlighted
*/
marker {
  fill: none;
  stroke: #CCC;
}

#content{
  position: relative;
  height: 620px;
}

.container{
  position: relative;
  width: 1100px;
}

.bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: background-color 0 linear;
}

#graphContainer {
  top: 0;left: 0;
  position: absolute;
  width: 700px;
  height: 600px;
  z-index: 1;
}

#mapContainer {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 700px;
  top: 300px;
}

#controlContainer{  
  position: absolute;
  height: 50px;
  width: 300px;
  left: 700px;
  top: 220px;
  z-index: 1;
}

#infoContainer{
  position: absolute;
  height: 250px;
  width: 300px;
  left: 700px;
  z-index: 1;
}
.graph-title {
  position: absolute;
  left: 60px;
  color: #545454;
}

h4 {
  margin-bottom:5px;
  margin-top: 5px;
  font-family: "EB Garamond", serif;
  font-size: 40px;
}

#iterations_display{
  float: right;
  text-align: right;
  font: 30px sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  height: 50px;
  width: 100px;
  z-index:3;
  color: black;
  top:50px;
}


#iterations_slider_container {
  margin-left: 0;
  height:0.5px;
  padding-top: 2px;
}

#iterations_slider_container input[type=range] {
  width: 150px;
}

#slider{
  height: 1px;
  width: 150px;
  z-index: 6;
  -webkit-appearance: none;
  border-radius: 0px;
  border:none;
}

#buttons {
    position: relative;
    float: left;
    height: 50px;
    top: 3px;
}

#play_control {
	margin-top: 1px;
	width: 150px;
	height: 40px;
}

#play_control_bottom {
	width: 150px;
	height: 50px;
}

#start-button, #stop-button, #pause-button {
  top-margin: 1px;
  width: 20px;
  height:20px;
  border: none;
}
#pause-button {
  display:none;
}

/* adapted from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */

ibody {
    padding: 30px;
}
input[type=range] {
    /*removes default webkit styles*/

#iterations_display{
  float: right;
  text-align: right;
  font: 30px sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  height: 50px;
  width: 100px;
  z-index:3;
  color: black;
  top:50px;
}


#iterations_slider_container {
  margin-left: 0;
  height:0.5px;
  padding-top: 2px;
}

#iterations_slider_container input[type=range] {
  width: 150px;
}

#slider{
  height: 1px;
  width: 150px;
  z-index: 6;
  -webkit-appearance: none;
  border-radius: 0px;
  border:none;
}

#buttons {
    position: relative;
    float: left;
    height: 50px;
    top: 3px;
}

#play_control {
	margin-top: 1px;
	width: 150px;
	height: 40px;
}

#play_control_bottom {
	width: 150px;
	height: 50px;
}

#start-button, #stop-button, #pause-button {
  top-margin: 1px;
  width: 20px;
  height:20px;
  border: none;
}
#pause-button {
  display:none;
}

/* adapted from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */

ibody {
    padding: 30px;
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    vertical-align: bottom;

}
input[type=range]::-webkit-slider-runnable-track {
    height: 1px;
    background: black;
    border: 1px solid black;
    margin-top: 1px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 5px;
    background: black;
    margin-top: -4px;
    }
input[type=range]::-moz-range-track {
    height: 5px;
    background: black;
    border: none;
}
input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 5px;
    background: black;
    margin-top: -4px;

}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline-offset: -1px;
}
input[type=range]::-ms-track {
    height: 16px;
    width: 5px;
    background: black;
    border: none;
    border-radius: 0;
    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    outline: none;
    background: black;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 0;
    background: black;
}
input[type=range]:focus::-ms-track {
    background: black;
}
input[type=range]:focus::-ms-fill-lower {
    background: black;
}
